[Desktop Entry]
Name=Big Terminal
Comment=Kitty Terminal Emulator but with 20pt font
Exec=kitty --config /home/USERNAME/.config/kitty/kitty_presenter.conf
Icon=kitty
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
